@import '../helper/variables.scss';

.box-editor {
    border: 1px solid transparent;

    &:hover {
        border: 1px solid green;
    }

    &.editable {
        border: 1px solid black;
        box-shadow: 0 0 20px rgb(65, 255, 8);
        animation-duration: 2s;
        animation-name: border-blink;
        animation-iteration-count: infinite;
        cursor: pointer;
    }

    &.controllable {
        border: 1px solid black;
        cursor: move;
    }

}

@keyframes border-blink {
    0% {
        border-color: green;
    }

    50% {
        border-color: greenyellow;
    }

    100% {
        border-color: green;
    }
}
