.editor-controller-box-wrapper {
  position: absolute;
  transform-origin: top left;
  user-select: none;

  .object {
    height: 10px;
    width: 10px;
    background-color: #1e88e5;
    position: absolute;
    border-radius: 100px;
    border: 1px solid white;
    user-select: none;

    &:hover {
      background-color: #0d47a1;
    }

    &.left-top {
      top: -5px;
      left: -5px;
      cursor: nw-resize;
    }

    &.left-bottom {
      bottom: -5px;
      left: -5px;
      cursor: sw-resize;
    }

    &.right-top {
      top: -5px;
      right: -5px;
      cursor: ne-resize;
    }

    &.right-bottom {
      bottom: -5px;
      right: -5px;
      cursor: se-resize;
    }

    &.top-mid {
      top: -5px;
      left: calc(50% - 5px);
      cursor: n-resize;
    }

    &.left-mid {
      left: -5px;
      top: calc(50% - 5px);
      cursor: w-resize;
    }

    &.right-mid {
      right: -5px;
      top: calc(50% - 5px);
      cursor: e-resize;
    }

    &.bottom-mid {
      bottom: -5px;
      left: calc(50% - 5px);
      cursor: s-resize;
    }

    &.rotate {
      top: -30px;
      left: calc(50% - 5px);
      cursor: grab;
    }
  }

  .rotate-link {
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #1e88e5;
    top: -20px;
    left: calc(50% + 0.5px);
    z-index: -1;
  }
}
