@import '../others/variables.scss';

.slide-item-thumb-editor {
    margin: 0;
    padding: 0;

    .editor-container {
        overflow: auto;
        padding: 0px;
        margin: 0;
        box-shadow: inset 0 0 6px black;
        background-color: var(--bs-gray-900);

        .editor {
            overflow: hidden;
            padding: 0;
        }
    }

    .card-footer {
        padding: 0;
        background-color: var(--bs-gray-800);
        .body {
            min-height: 200px;
            background-color: var(--bs-gray-700);
            padding: 5px;
        }
    }
}
