#bible-search-popup {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  min-width: 98%;
  min-height: 98%;
  margin: auto;

  &>.card-header {
    height: 60px;
  }

  .input-group-header {
    margin: auto;
    max-width: 450px;
  }

  .body {
    padding: 5px;



    .chapter-select {
      width: 85px;
      font-size: 13px;
    }

    .found {
      overflow-x: hidden;
      overflow-y: auto;

      .btn {
        flex: 1 1 auto;

        &.bible-search-chapter-option {
          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .select {
      padding: 0;
    }
  }
}