#bible-search-popup {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  min-width: 98%;
  min-height: 98%;
  margin: auto;

  .input-group-header {
    margin: auto;
    max-width: 450px;
  }

  .chapter-select {
    width: 85px;
    font-size: 13px;
  }

  .found {
    overflow-y: auto;

    .bible-search-chapter-option,
    .bible-search-book-option {
      &:hover {
        font-weight: bold;
        background-color: transparent !important;
      }
    }
  }

  .select {
    padding: 0;
  }
}