# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[*.{html,css,scss,json,js,ts,tsx}]
charset = utf-8
indent_style = space
[*.{html,json,js,ts,tsx}]
indent_size = 4
[*.{css,scss}]
indent_size = 2
