@import '../others/variables.scss';

.flex-resizer {
  flex: 0 0 4px;
  background: var(--bs-dark);
  background-repeat: no-repeat;
  background-position: center;
  transition: padding 0.2s ease-out;

  .mover {
    position: absolute;
    cursor: pointer;
    z-index: $z-index-resizer-float;

    div {
      position: absolute;
      opacity: 0.2;

      &:hover {
        opacity: 1;
      }
    }

    .left {
      display: inline;
      transform: translateX(-13px);
    }

    .right {
      display: inline;
      transform: translateX(-1px);
    }

    .up {
      display: inline;
      transform: translateY(-16px);
    }

    .down {
      display: inline;
      transform: translateY(-4px);
    }
  }

  &.v {
    .mover {

      .left,
      .right {
        display: none;
      }
    }

    cursor: ns-resize;
    background-size: 10px;
    border-top: 1px solid var(--bs-dark);
    border-bottom: 1px solid var(--bs-dark);

    &:hover,
    &.active {
      background-image: url($vertical-move-icon);
    }

    &.active {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

  &.h {
    .mover {

      .up,
      .down {
        display: none;
      }
    }

    cursor: ew-resize;
    background-size: 4px;
    border-left: 1px solid var(--bs-dark);
    border-right: 1px solid var(--bs-dark);

    &:hover,
    &.active {
      background-image: url($horizontal-move-icon);
    }

    &.active {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  &.active {
    transition: padding 0.1s ease-in 0.5s;
  }

  &.active {
    background-color: rgba(0, 255, 0, 0.048);
    background-image: url($horizontal-move-icon);
  }
}