@import '../others/variables.scss';

#bible-list {
  .card-header {
    height: $card-header-height;
  }

  .card-body {
    height: calc(100% - $card-header-height);

    .item {
      cursor: pointer;
    }
  }

  .item {

    .bible {
      border: 1px solid transparent;
      border-radius: 5px;

      &:hover {
        border-color: var(--bs-gray-500);
      }
    }
  }

}
