@use '../others/variables.scss' as *;

#slide-editor-popup {
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);

  .header {
    height: $header-height;
  }

  .body {
    padding: 5px;
  }
}
