@import '../others/variables.scss';

#setting-popup {
  width: 600px;
  height: 600px;
  max-width: calc(100vw - 10px);
  max-height: calc(100vh - $header-height);
  overflow: auto;

  .setting-header {
    height: $header-height;
  }

  .setting-body {
    padding: 5px;
    background-color: var(--bs-gray-700);
    overflow-y: auto;

    .lang {
      .options {
        background-color: var(--bs-gray-800);
        max-height: 200px;
        overflow-y: auto;
      }

      .item {
        margin: 5px;

        .icon {
          float: left;
          width: 20px;
        }
      }
    }
  }

  i.rotating::before {
    animation: rotating 0.5s ease-in-out infinite;

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}