@import '../others/variables.scss';

.background {
  .nav-highlight-selected {
    .btn::after {
      content: '*';
      color: $hight-light-color;
    }
  }

  &>.background-header {
    height: $header-height;
  }

  &>.background-body {
    background-color: var(--bs-gray-900);
    overflow-y: auto;
    padding: 1px;
  }
}
