@use '../others/variables.scss' as *;

.background {
  & > .header {
    height: $header-height;
  }

  & > .body {
    background-color: var(--bs-gray-900);
    overflow-y: auto;
    padding: 1px;
  }
}
