@use '../others/variables.scss' as *;

.background {
  .app-nav-highlight-selected {
    .btn::before {
      content: '*';
      color: greenyellow;
    }
  }

  & > .background-header {
    height: $header-height;
  }

  & > .background-body {
    background-color: var(--bs-gray-900);
    overflow-y: auto;
    padding: 1px;
  }
}
