@use '../../../others/variables.scss' as *;

.app-tools {
  .tools-header {
    height: $header-height;
    background-color: var(--bs-gray-800);
  }

  .tools-body {
    overflow: hidden;
    background-color: var(--bs-gray-900);

    .tool {
      height: 100%;
      overflow: auto;
      padding: 2px 3px;
      border: 1px solid rgba(128, 128, 128, 0.109);
      background-color: var(--bs-gray-800);
    }
  }

  .canvas-board-size-container {
    background-color: var(--bs-gray-900);
    border-radius: 5px;
  }
}
