@use '../others/variables.scss' as *;
$color: rgb(73, 103, 123);
$dot-border: 1px dashed greenyellow;

.flex-resize-actor {
  flex: 0 0 5px;
  background: var(--bs-dark);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;

  .mover {
    position: fixed;
    transform: translate(-45%, -45%);

    .disabling-arrow {
      transition: opacity 0.2s ease-in;
      display: none;
      cursor: pointer;
      opacity: 0.1;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &.attempt {
    z-index: $z-index-resize-actor-top;

    .mover {
      .disabling-arrow {
        display: block;
      }
    }
  }

  &.active {
    background-color: $color;
    .mover {
      .disabling-arrow {
        opacity: 0;
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  &.v {
    background-size: 10px;
    border-top: 1px solid var(--bs-dark);
    border-bottom: 1px solid var(--bs-dark);
    background-image: url(/assets/move-v-icon.svg);

    &.attempt {
      cursor: ns-resize;
    }

    &.active {
      border-left: $dot-border;
      padding-right: $dot-border;
    }
  }

  &.h {
    background-size: 5px;
    border-left: 1px solid var(--bs-dark);
    border-right: 1px solid var(--bs-dark);
    background-image: url(/assets/move-h-icon.svg);

    &.attempt {
      cursor: ew-resize;
    }

    &.active {
      border-top: $dot-border;
      padding-bottom: $dot-border;
    }
  }
}
