.text-shadow {
  .ow-outline-demo {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 9px 6px;
    font-size: 31px;
    font-weight: bold;
    line-height: 31px;
    border: 1 px solid #888;
    text-align: center;
    overflow: hidden;
    margin: 5px;
    &:hover {
      background-color: rgba(216, 216, 216, 0.075);
    }
  }
}
