@import '../others/variables.scss';

#presenting {

  .header,
  .body {
    margin: 0;
    padding: 0;
  }

  .header {
    height: $header-height;
  }

  .body {
    background-color: var(--bs-gray-700);
    height: calc(100% - $header-height);
    overflow-y: auto;
    padding: 0;
  }
}
