@import '../helper/variables.scss';


.slide-item-thumb-drag-receiver {
  width: 20px;
  background-color: aqua;
  border-radius: 5px;
  opacity: 0.1;
}

.slide-item-thumb {
  display: inline-block;
  background-color: var(--bs-gray-800);
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  margin: 5px;
  border: 1px solid gray;
  cursor: pointer;
  box-sizing: content-box;

  &.active {
    border: 1px solid rgba(0, 255, 255, 0.418);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.048);

    .card-header {
      background-color: rgba(0, 255, 255, 0.205);
    }

    .index {
      background-color: rgba(0, 255, 255, 0.418);
    }
  }

  &:hover {
    border: 1px solid rgb(0, 0, 0);
  }

  .index {
    background-color: rgba(85, 85, 85, 0.418);
    padding: 2px;
    border-radius: 2px 2px 0 0;
    font-size: 10px;

    span {
      float: right;
    }
  }
}
