@use '../others/variables.scss' as *;

.app-top-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px !important;
  opacity: 1;
  z-index: $z-index-progress-bar;
  overflow: hidden;
}
