@font-face {
  font-family: 'Battambang';
  src: url('/fonts/km/Battambang/Battambang-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Battambang';
  src: url('/fonts/km/Battambang/Battambang-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Battambang, system-ui, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
