@import '../others/variables.scss';

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-bible-search;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  backdrop-filter: blur(5px);

  &>div:first-child {
    background-color: var(--bs-gray-800);
  }
}
