.path-selector {
  cursor: pointer;

  .path-previewer {
    display: flex;
  }

  .app-add-items-button {
    color: green;
    border: 1px solid rgba(0, 128, 0, 0.244);
    border-radius: 50%;
    margin-left: 3px;
    padding: 0;
    &:hover {
      background-color: rgba(0, 128, 0, 0.244);
    }
  }

  margin-bottom: 5px;
}
