@use "sass:string";
@use "sass:color";

$base-color: white;
$box-border: 2px ridge color.adjust($base-color, $lightness: 50%);
$header-height: 37px;

$card-header-height: 41px;

$base-z-index: 10;
$z-index-bible-search: $base-z-index + 10;
$z-index-popup-full-screen: $base-z-index + 20;
$z-index-resize-actor-top: $base-z-index + 30;
$z-index-finder: $base-z-index + 40;
$z-index-context-menu: $base-z-index + 50;
$z-index-toast: $base-z-index + 60;

$hight-light-color: #ad0090;
