@import '../helper/variables.scss';

.text-shadow{
  height: 300px;
  overflow-y: auto;
  .style-demo {
    cursor: pointer;
    display: inline-block;
    padding: 3 px 9 px 6 px;
    font-size: 31px;
    font-weight: bold;
    line-height: 31px;
    border-radius: 6 px;
    margin: 1 px 3 px 3 px 1 px;
    border: 1 px solid #888;
    text-align: center;
    overflow: hidden;
    margin: 5px;
    &:hover {
      background-color: rgba(216, 216, 216, 0.075);
    }
  }
}
