@use '../others/variables.scss' as *;

#modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-bible-search;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  backdrop-filter: blur(5px);
  padding: 10px;

  & > div:first-child {
    background-color: var(--bs-gray-800);
  }
}
