.slide-auto-play-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.slide-auto-play {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: rgba(63, 63, 63, 0.9);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.5s ease-out;
  & > div {
    visibility: hidden;
  }

  &.show {
    pointer-events: all;
    opacity: 1;
    & > div {
      visibility: visible;
    }
  }
}
