@use '../others/variables.scss' as *;

.toast {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: $z-index-toast;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid $hight-light-color;
  backdrop-filter: blur(2px);
}
