@import '../others/variables.scss';

#playlist {
  .card-body {
    height: calc(100% - $card-header-height);

    .playlist-item {
      &:hover {
        border: 1px solid var(--bs-gray-800);
      }
      &.receiving-child {
        border: 1px solid greenyellow;
      }
    }
  }
}
