@use '../others/variables.scss' as *;

.playlist-list {
  .card-body {
    height: calc(100% - $card-header-height);

    .playlist-file {
      &:before {
        display: block;
        position: absolute;
        content: attr(data-index);
        white-space: nowrap;
        opacity: 0.5;
        transform: translate(-10px, 7px);
        text-align: right;
        width: 12px;
        font-size: 12px;
      }

      &:hover {
        border: 1px solid var(--bs-gray-800);
      }
    }
  }
}
