@import '../helper/variables.scss';

#lyric-list {
  .card-header {
    height: $card-header-height;
  }

  .card-body {
    height: calc(100% - $card-header-height);
    .item {
      cursor: pointer;
    }
  }

}
